<launch>
    <!-- Define a parameter for the bag file -->

    <include file="$(find panda_moveit_config)/launch/demo.launch" />


    <param name="robot_description_planning/shape_transform_cache_lookup_wait_time" value="0.5" />

    <arg name="bag_file" default="/home/lucfra/catkin_ws/src/rosbag/toothpaste.bag" />

    <node name="bag_publisher" pkg="vlm_grasper" type="bag_publisher.py" output="screen">
        <param name="bag_file" value="$(arg bag_file)" />
    </node>

    <!-- If needed, broadcast static tf for robot root -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="to_panda" args="0 0 0 0 0 0  world panda_link0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="to_camera" args="0.0 0.0 0.916 0.79146 -0.32759 0.47673 -0.19753 world camera_color_optical_frame" />

</launch>
